﻿<mat-form-field>
    <mat-select [(ngModel)]="request.tableName" placeholder="테이블" (selectionChange)="reset()">
        <mat-option *ngFor="let name of tableNames" [value]="name" [disabled]="oneInDirty(name)">
            {{name}}
        </mat-option>
    </mat-select>
</mat-form-field>

<button mat-button color="primary" (click)="getTableSummary()"
        [disabled]="!request.tableName||summary?.length>0">
    테이블 정보 가져오기
</button>

<mat-form-field *ngIf="summary">
    <mat-select [(ngModel)]="request.labelColumn" placeholder="레이블 선택">
        <mat-option *ngFor="let column of summary" [value]="column.name" [disabled]="column.type=='numeric'">
            {{column.name}}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field>
    <input matInput type="number" min="2" max="{{summary?.length-1}}"
           [(ngModel)]="request.nComponents" [disabled]="!summary"
           placeholder="component 수 설정"/>
</mat-form-field>

<mat-form-field>
    <mat-select [(ngModel)]="reducer" placeholder="Select a method">
        <mat-option *ngFor="let reducer of reducers" [value]="reducer"
                   [disabled]="isNotOkay(reducer)">
            {{reducer}}
        </mat-option>
    </mat-select>
</mat-form-field>

<button mat-raised-button color="primary" (click)="proceed()"
        [disabled]="!request.tableName||!reducer">
    실행
</button>

<mat-card *ngIf="result">
    <mat-card-header>
        <mat-card-title>
            생성된 테이블: {{result?.generated}}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <h5 *ngIf="result?.variance">variance: {{result?.variance}}</h5>
        <h5>varianceRatio: {{result?.varianceRatio}}</h5>
    </mat-card-content>
</mat-card>