﻿<!-- <div #3dsample style="width:100%;height:100%"></div> -->
<div style="height: 100%;">
    <plotly-plot [data]="plotData" [layout]="layout" [style]="{width:'100%',height:'100%'}"></plotly-plot>
</div>