﻿<mat-card>
    <mat-card-header>
        <mat-card-title>Basic Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                Name: <p style="font-style:italic">Alan Anderson</p>
            </mat-list-item>
            <mat-list-item>
                Major in : Computer Science(B.S), Mathematics (B.S), Applied Mathematics (M.S)
            </mat-list-item>
            <mat-list-item>
                All acquired from Sogang University
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>Graduate Thesis is about(based on)</mat-card-title>
        <mat-card-subtitle>Loseless recovery in W/2Pi sampling</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                Paley-Wiener Theorem <a mat-button color="primary"
                                        href="https://en.wikipedia.org/wiki/Paley%E2%80%93Wiener_theorem">
                Wikipedia</a>
            </mat-list-item>
            <mat-list-item>
                Shannon's Sampling Theorem <a mat-button color="primary"
                                              href="https://en.wikipedia.org/wiki/Nyquist%E2%80%93Shannon_sampling_theorem">
                Wikipedia</a>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>
            Knowledge Stack
        </mat-card-title>
        <mat-card-subtitle>
            Mathematics and Mathematical statistics, and Machine Learning
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                Random variable and Random Sampling
            </mat-list-item>
            <mat-list-item>
                Statistical Inferences
            </mat-list-item>
            <mat-list-item>
                Bayesian Inference
            </mat-list-item>
            <mat-list-item>
                Latent variable model
            </mat-list-item>
            <mat-list-item>
                Inner product Space
            </mat-list-item>
            <mat-list-item>
                Algebraic Topology
            </mat-list-item>
            <mat-list-item>
                Complex Analysis
            </mat-list-item>
            <mat-list-item>
                Differential Equation
            </mat-list-item>
            <mat-list-item>
                Real Analysis
            </mat-list-item>
            <mat-list-item>
                Fourier Analysis and Sampling Theory
            </mat-list-item>
            <mat-list-item>
                Support Vector Machine, Principal Component Analysis
            </mat-list-item>
            <mat-list-item>
                Linear Discriminant Analysis, Quadratic Discriminant Analysis
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>
            Skill Stack
        </mat-card-title>
        <mat-card-subtitle>
            Programming skills, language, and architecture
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                ECMAScript and Engine
            </mat-list-item>
            <mat-list-item>
                ECMAScript2015 and Typescript
            </mat-list-item>
            <mat-list-item>
                Angular 1,2 and 4 with Angular-material(1,2)
            </mat-list-item>
            <mat-list-item>
                Node.js and C++ addon, and now N-API
            </mat-list-item>
            <mat-list-item>
                NoSQL(MongoDB) and RDB(MySQL)
            </mat-list-item>
            <mat-list-item>
                Low-level C++ programming for API which requires fast processing
            </mat-list-item>
            <mat-list-item>
                Design Pattern and of course ReactiveX(actually, use only RxJS)
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>
            What I'm not that good at...
        </mat-card-title>
        <mat-card-subtitle>
            But I'm still trying
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                CSS and SaSS
            </mat-list-item>
            <mat-list-item>
                Webpack
            </mat-list-item>
            <mat-list-item>
                UI and UX Design
            </mat-list-item>
            <mat-list-item>
                Pretty and Splendid PowerPoing Presentation
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>