<mat-form-field>
    <mat-select [(ngModel)]="requestData.tableName" placeholder="테이블" (selectionChange)="resetIfNeeded()"
                [disabled]="isProcessing">
        <mat-option *ngFor="let name of tableNames" [value]="name" [disabled]="oneInDirty(name)">
            {{name}}
        </mat-option>
    </mat-select>
</mat-form-field>

<button mat-button color="primary" (click)="getTableSummary()" [disabled]="!requestData.tableName||summary?.length>0">
    테이블 정보 가져오기
</button>
<mat-spinner *ngIf="gettingTable"></mat-spinner>

<ng-container *ngIf="summary">
    <mat-form-field>
        <mat-select [(ngModel)]="selectedColumnIndex" placeholder="Attribute">
            <mat-option *ngFor="let column of remainingColumns; let i=index" [value]="i">
                {{column}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-button color="warn" (click)="addAttribute()" [disabled]="!remainingColumns?.length">
        Attribute 추가
    </button>
    <mat-chip-listbox>
        <mat-chip-option color="warn" *ngFor="let attribute of requestData.attributes" selected="true">
            {{attribute}}
        </mat-chip-option>
    </mat-chip-listbox>
    <button mat-raised-button color="primary" (click)="resetAttributes()">다시 고르기</button>
</ng-container>

<mat-form-field>
    <mat-select [(ngModel)]="selectedOdIndex" placeholder="OutlierDetection Method" (selectionChange)="optionExpanded=true">
        <mat-option *ngFor="let od of Ods;let i=index" [value]="i">
            {{od?.name}}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-expansion-panel [expanded]="optionExpanded">
    <mat-expansion-panel-header>Parameter 설정</mat-expansion-panel-header>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Outlier 비율 선택</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-checkbox [(ngModel)]="hasContamination" (change)="ctcheck()">직접 선택</mat-checkbox>
            <mat-slider min="0.01" max="0.3" step="0.01"
                       [disabled]="!hasContamination">
              <input matSliderThumb [(ngModel)]="contam" (change)="requestData['contamination']=contam">
            </mat-slider>
        </mat-card-content>
    </mat-card>
    <mat-card *ngIf="selectedOdIndex==3">
        <mat-card-header>
            <mat-card-title>Number of Neighborhoods</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-checkbox [(ngModel)]="hasNum" (change)="numcheck()">직접 선택</mat-checkbox>
            <mat-slider min="10" max="30" step="1"
                       [disabled]="!hasNum">
              <input matSliderThumb [(ngModel)]="numNum" (change)="requestData['num']=numNum">
            </mat-slider>
        </mat-card-content>
    </mat-card>
</mat-expansion-panel>

<button mat-raised-button color="accent" (click)="getOdResult()" [disabled]="isNotReady()">
    {{Ods[selectedOdIndex].name}} 실행
</button>

<mat-spinner *ngIf="isProcessing"></mat-spinner>

<plotly-plot [data]="plotData" [layout]="layout"></plotly-plot>
