﻿<mat-form-field>
    <mat-select [(ngModel)]="selectedTable" placeholder="테이블 선택" (selectionChange)="resetInspection()">
        <mat-option *ngFor="let table of tableNames" [value]="table">
            {{table}}
        </mat-option>
    </mat-select>
</mat-form-field>

<button mat-button color="accent" *ngIf="isn1" (click)="makeGraph()">
    그래프 보기
</button>

<ngx-charts-line-chart *ngIf="showGraph" [view]="[1000,400]"
                       [scheme]="colorScheme"
                       [results]="multi"
                       [gradient]="false"
                       [xAxis]="true"
                       [yAxis]="true"
                       [legend]="true"
                       [showXAxisLabel]="true"
                       [showYAxisLabel]="true"
                       xAxisLabel="피쳐"
                       yAxisLabel="수치"
                       [autoScale]="true"
                       (select)="clickHandler($event)">
</ngx-charts-line-chart>

<button mat-button color="primary" (click)="getSummary()"
        [disabled]="!selectedTable">기본 컬럼 정보 보기</button>

<mat-spinner *ngIf="processing"></mat-spinner>

<div class="test-container mat-elevation-z8">
    <table mat-table [dataSource]="summaries">
        <ng-container *ngFor="let prop of props" matColumnDef="{{prop}}">
            <th mat-header-cell *matHeaderCellDef>{{prop}}</th>
            <td mat-cell *matCellDef="let row">{{row[prop]}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="props"></tr>
        <tr mat-row *matRowDef="let row; columns: props;"></tr>
    </table>
</div>