<mat-form-field>
    <mat-select [(ngModel)]="selectedTable" placeholder="테이블" (selectionChange)="resetIfNeeded()">
        <mat-option *ngFor="let name of tableNames" [value]="name" [disabled]="oneInDirty(name)">
            {{name}}
        </mat-option>
    </mat-select>
</mat-form-field>

<button mat-button color="primary" (click)="getTableSummary()" [disabled]="!selectedTable||summary?.length>0">
    테이블 정보 가져오기
</button>

<ng-container *ngIf="summary">
    <mat-form-field>
        <mat-select [(ngModel)]="label" placeholder="Label">
            <mat-option *ngFor="let column of Labels" [value]="column">
                {{column}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select [(ngModel)]="selectedColumnIndex" placeholder="Attribute">
            <mat-option *ngFor="let column of remainingColumns; let i=index" [value]="i">
                {{column}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-button color="warn" (click)="addAttribute()" [disabled]="!remainingColumns?.length">
        Attribute 추가
    </button>
    <mat-chip-listbox>
        <mat-chip-option *ngIf="label" color="primary" selected="true">
            {{label}}
        </mat-chip-option>
        <mat-chip color="warn" *ngFor="let attribute of attributes" selected="true">
            {{attribute}}
        </mat-chip>
    </mat-chip-listbox>
    <button mat-raised-button color="primary" (click)="resetAttributes()">다시 고르기</button>
</ng-container>

<mat-form-field>
    <mat-select mdTooltip="Not only SVM, I know, Sorry..." [(ngModel)]="selectedClassifier" placeholder="Classifier">
        <mat-option *ngFor="let classifier of Classifiers" [value]="classifier">
            {{classifier}}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-expansion-panel [expanded]="optionExpanded">
    <mat-expansion-panel-header>Parameter 설정</mat-expansion-panel-header>
    <mat-card *ngIf="selectedClassifier!='QDA'">
        <mat-card-header>
            <mat-card-title>C 값 선택</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-radio-group fxFlex="column" [(ngModel)]="selectedCValue">
                <mat-radio-button *ngFor="let value of PossibleCValues" [value]="value">
                    {{value}}
                </mat-radio-button>
            </mat-radio-group>
        </mat-card-content>
    </mat-card>

    <ng-container [ngSwitch]="selectedClassifier">
        <mat-select *ngSwitchCase="'SGD'" [(ngModel)]="penalty" placeholder="Penalty">
            <mat-option *ngFor="let rule of Penalties" [value]="rule">
                {{rule}}
            </mat-option>
        </mat-select>
        <div *ngSwitchCase="'SVC with Poly kernel'"
             fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
            <mat-form-field>
                <input matInput [(ngModel)]="degreeOfPoly" type="number"
                       min="2" max="5" step="1" placeholder="degree of polynomial" />
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="coef0" type="number"
                       min="-0.1" max="1" step="0.05" placeholder="coef0" />
            </mat-form-field>
        </div>
    </ng-container>
</mat-expansion-panel>

<button mat-raised-button color="accent" (click)="proceedClassification()" [disabled]="isNotReady()">
    {{selectedClassifier}} 실행
</button>

<mat-spinner *ngIf="isProcessing"></mat-spinner>

<plotly-plot [data]="plotData" [layout]="plotLayout"></plotly-plot>
