﻿<mat-card>
    <mat-card-content>
        <mat-form-field>
            <input matInput type="text" placeholder="닉네임"
                   [(ngModel)]="nickName" [disabled]="user?.nickName" />
        </mat-form-field>
        <button mat-raised-button color="warn" (click)="checkNick()" [disabled]="!nickName">
            닉네임 중복 확인
        </button>
    </mat-card-content>
</mat-card>